{% extends 'base.html' %}
{% block content %}
  {% if current_user.is_authenticated %}
    <div class="new-post">
      <a href="{{ url_for('posts.new_post') }}">New Post</a>
    </div>
  {% endif %}
  <div class="posts-container">
    {% for post in posts %}
      <article class="blog-entry">
        <header>
          <h1><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h1>
          <p><small>{{ post.date }}</small></p>
        </header>
        <div class="image-wrapper">
          <a class="image-anchor" href="{{ url_for('posts.post', post_id=post.id) }}">
            <img class="home-image" src="{{ url_for('static', filename='blog_pics/' + post.image) }}">
          </a>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock content %}
